* {
  box-sizing: border-box;
}

.furima-icon {
  width: 176px;
  height: 94px;
}

.catch-copy{
  font-size: 30px;
  color: #333333;
  text-align: center;
}

.copy1{
  text-align: left;
}

.user_nav{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content:space-between;
}

.lists-right{
  padding-right:3vw;
}

.user-nickname {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size:24px;
}

.sub-text{
  font-size: 18px;
}


.right-item {
  text-decoration: none;
  color: #333333;
  font-size:18px;
}

.left-item {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-size:18px;
}