a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部 キャッチ*/
.title-contents {
  margin:3vh 0;
  width: 100vw;
  background-image: image-url('top-imagClol.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 6vh;
}

.service-explain-box{
  padding-top:2vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 60px;
}
/* */

/* こんな方に使ってほしい */

.flex{
  display: flex;
  justify-content: center;
  align-items:center;
  padding:15px 0;
}
.flex>p{
  width: 60%;
  padding-left:20px;
}

.list-pict1{
  max-width: 27vw;
  max-height: 20vh;
}

.sub-column{
  font-size:25px;
  font-weight:bold;
}

/* */


.ad-contents {
  width: 100vw;
  background-image: image-url('clubbol-header02.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 60px;
}

/* //画面中央の「会員数日本一位」帯部分 */

/* FURIMAの特徴 */
.feature-contents {
  padding: 2vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 220px;
  height: 4px;
  background-color: gray;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 30vh;
  padding: 1vw;
  background-color: #FFF;
  margin:1vw;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 27vh;
  height: 27vh;
}

.sold-out {
  position: absolute;
  right:0px;
  bottom:0px;
}

.status-showlist{
  width:125px;
  height:75px;
}

.now-on-sale {
  position: absolute;
  right:0px;
  bottom:0px;
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}

.now-on-sale>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 1.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */

.jump-btn{
  text-align: center;
  position:relative;
}